body{
    margin: 0px;
}
.zone{
    cursor:pointer;
    font-size:2em;
    /* border:#bbb 1px solid; */
    transition: all 0.3s linear;

}
.sticky{
    position:fixed;
    top:0%;
    width:100%;
}
.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}
.nav-bar{
    display:flex;
    font-size:0.7em;
    list-style:none;
    margin:0px;
}
li{
    padding:20px;
}
a{
    text-decoration: none;
    color:aliceblue;
}
.push{
    margin-left: auto;
}

.container{
    display:flex;
    align-items:center;
    justify-content: center;
    height:60vh; 
    background: url(./img3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
   
.bcg{
    background-color: rgba(255, 233, 0, 0.5);
    font-family: 'Exo 2', sans-serif;
    font-size:4em;
    text-align: center;
    color:aliceblue; 
}

@media only screen and (max-width:600px){
    .nav-bar{
        font-size: 0.5em;
        padding: 0px;
    } 
    .bcg{
        font-size:2em;
    }
}
/* img{
    width:270px;
    height:230.25px;
    padding:0px 10px 0px 10px;
} */
.cover{
    display:grid;
    gap:20px;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    
}
.container1{
    background: url(./img3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.grid-wrapper{
    display:grid;
    gap:20px;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    
}
.box{
    text-align: center;
    color:aliceblue;
    padding:30px;
    margin:20px;
    background-color: rgba(37, 37, 221, 0.2);
    border:rgb(68, 6, 240) 1px solid;
}
p{
    font-size: 0.7em;
}
.box:hover{
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -o-transform:rotate(-5deg);
    transform:rotate(-5deg);
}
footer{
    text-align: center;
    background-color: rgba(19, 7, 177, 0.781);
    color: aliceblue;
}
.purple{
    background: #882D60; /* Old browsers */
    background: -moz-linear-gradient(top, #882D60 0%, #661141 44%, #440721 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #882D60 0%,#661141 44%,#440721 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #882D60 0%,#661141 44%,#440721 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #882D60 0%,#661141 44%,#440721 100%); /* IE10+ */
    background: linear-gradient(top, #882D60 0%,#661141 44%,#440721 100%); /* W3C */
}
.yellow{
    background: #F5EF00; /* Old browsers */
    background: -moz-linear-gradient(top, #f5ef00 0%, #fff826 44%, #f1ea16 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f5ef00 0%, #fff826 44%, #f1ea16 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f5ef00 0%, #fff826 44%, #f1ea16 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f5ef00 0%, #fff826 44%, #f1ea16 100%); /* IE10+ */
    background: linear-gradient(top, #f5ef00 0%, #fff826 44%, #f1ea16 100%); /* W3C */
}

